.about {
  max-width: calc(100vw - 70px*2);
  margin: 0 auto 110px;
}

.about__title {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  margin: 110px 0 70px;
  padding-bottom: 23px;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #000;
}
.about__about-project {
  display: flex;
  justify-content: space-between;
}
.about__article {
  margin: 0 ;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}
.about__text {
  color: #000;
  margin: 26px 0 110px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.about__duration-line {
  display: flex;
}
.about__week-backend {
  background-color:  #2BE080;
  width: 228px;
  height: 36px;
  color: #000;
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  
}
.about__week-frontend {
  background-color:  #F2F2F2;
  width: 912px;
  height: 36px;
  color: #000;
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}
.about__duration-caption {
  width: 228px;
  color: #A0A0A0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 121.429% */
  
}
.about__duration-caption:nth-of-type(2) {
  width: 912px;
}

@media screen and (max-width: 1200px) {
  .about {
    max-width: calc(100vw - 50px*2);
    margin: 0 auto 110px;
  }

  .about__text {
    color: #000;
    margin: 22px 0 93px;
    font-size: 12px;
    line-height: 18px; /* 142.857% */
  }
}

@media screen and (max-width: 700px) {
  .about {
    max-width: calc(100vw - 14px*2);
    margin-bottom: 69px;
  }
  .about__article {
    font-size: 18px;
  }
  .about__title {
    font-size: 18px;
    padding-bottom: 23px;
    margin: 70px auto 60px;
  }

  .about__text {
    margin: 16px 0 120px;
    font-size: 11px;
    line-height: 16px; /* 142.857% */
  }

  .about__text:last-of-type {
    margin-bottom: 60px;
  }

  .about__about-project {
    display: block;
  }

  .about__week-backend {
    width: 100px;
    height: 35px;   
  }
  .about__week-frontend {
    width: 184px;
    height: 35px;
  }

  .about__duration-caption {
    width: 100px;
    font-size: 11px;
    font-weight: 400;
    line-height: normal; /* 121.429% */
    margin: 10px 0 0 0;
    
  }
  .about__duration-caption:nth-of-type(2) {
    width: 184px;
  }
}
