.card__delete {
  opacity: 0;
  background-image: url(../../../images/d1.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

.card__delete:hover {
  opacity: 0.6;
}

.card:hover .card__delete {
  opacity: 1;
}