.movies__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cards {
  
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 270px));
  gap: 38px 20px;
  justify-content: center;
}
.movies__button {
  cursor: pointer;
  margin: 60px auto 159px auto;
  width: 320px;
  height: 36px;
  border: none;
  border-radius: 6px;
  background: #F9F9F9;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movies__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .cards {
    gap: 30px 30px;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 339px));
  }

  
}

@media screen and (max-width: 700px) {
.movies__button {
  width: 240px;
}


.cards {
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
}
}