.techs {
  background-color: #F5F5F5;
}

.techs__content {
  max-width: calc(100% - 70px*2);
  margin: 0 auto;
  padding: 100px 0;
}

.techs__header-title {
  padding: 0 0 26px 0;
  margin: 0;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.techs__title {
  margin: 90px auto 26px;
  text-align: center;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}


.techs__text {
  margin: 0 auto;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
}
.techs__container {
  display: flex;
  list-style: none;
  margin: 100px 0 0 0;
  padding: 0;
  justify-content: center;
}

.techs__element {
  background-color: #E8E8E8;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  margin-left: 10px;
  vertical-align: middle;
  
}

.techs__element:first-of-type {
  margin-left: 0;
}

.techs__name {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .techs__content {
    max-width: calc(100% - 50px*2);
    margin: 0 auto;
    padding: 90px 0 90px;
  }

  .techs__container {
    margin: 83px 10px 0;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px; /* 142.857% */
  }
}

@media screen and (max-width: 700px) {

  .techs {
    background-color: #FFF;
  }
  
  .techs__content {
    max-width: calc(100% - 18px*2);
    margin: 0 auto;
    padding: 70px 0 60px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px; /* 142.857% */
  }

  .techs__container {
    display: flex;
    list-style: none;
    margin: 50px auto 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .techs__title {
    font-size: 30px;
  }

  .techs__element {
    margin: 0 10px 10px 0;
  }

  .techs__element:last-of-type {
    margin-right: auto;
    margin-left: calc((284px - 90px*2 - 10px*2)/2);
  }
  
}