.login {
  margin: 70px auto;
  width: 390px;
  display: flex;
  flex-direction: column;
}

.login__title {
  margin: 40px 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login__caption {
  color: #A0A0A0;
  margin: 0 0 5px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
  margin-bottom: 24px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__input:last-of-type {
  margin: 0;
}

.login__button {
  margin: 221px 0 16px;
  width: 100%;
  border-radius: 3px;
  background-color: #3456F3;
  min-height: 45px;
  color: #FFF;
  border: none;
}

.login__button_inactive {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.login__container {
  width: 396px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.login__logo {
  object-fit: cover;
  width: 38px;
  height: 38px;
}

.login__linkAuth {
  margin-left: 6px;
  color: #3456F3;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.login__caption-bottom {
  color: #A0A0A0;
  font-size: 14px;
  font-style: normal;
  margin: 0;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 748px) {
  .login {
    margin: 70px auto;
    max-width: calc(100vw - 30px*2);
  }

  .login__container {
    width: 260px;
  }

  .login__button {
    margin: 309px 0 12px;
  }

  .login__caption-bottom {
    font-size: 12px;
  }

  .login__linkAuth {
    font-size: 12px;
  }

  .login__title {
    text-align: center;
  }

  .login__logo {
    margin: 0 auto;
  }
}